@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

$dark-bg: #222;
$green-color: #3eb33e;

body {
  text-align: center;
  width: 100%;
  background-color: #111;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-image: url("../images/nature-mountains.jpg");
  background-size: cover;
  background-position: bottom;
}

.img-richard {
  width: 200px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  border: solid black 3px;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: $dark-bg;
  a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    color: white;
    background-color: $dark-bg;
    text-decoration: none;
    &:hover {
      filter: brightness(1.5);
    }
  }
}

.spacer {
  height: 10px;
}

h1 {
  font-size: 5.5rem;
  position: relative;
  z-index: 1;
  font-family: "Architects Daughter", cursive;
}

.message-box {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  .occupation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Share Tech Mono", monospace;
    font-size: 2rem;
    div {
      display: flex;
      span:hover {
        color: white;
        background-color: black;
      }
    }
  }
}

/* PROJECTS */

.projects-section {
  .section-title {
    color: white;
    margin: 4rem 0;
  }
  .projects {
    background-color: black;
    .project {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      border-left: solid green 3px;
      border-right: solid green 3px;
      border-top: solid $green-color 1px;
      border-bottom: solid $green-color 1px;
      margin-bottom: 4em;
      &:last-child {
        margin-bottom: 9rem;
      }
      .img-links-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: $dark-bg;
        img {
          max-width: 100%;
          margin: 0.4em;
          border: solid #555 3px;
          filter: brightness(0.8);
        }
        .links {
          display: flex;
          z-index: 1;
          box-shadow: 0 10px 30px rgba(119, 224, 74, 0.214);
          a {
            flex: 1;
            color: white;
            background-color: $dark-bg;
            text-decoration: none;
            padding: 0.6em 0;
            border: solid #555 1px;
            &:hover {
              filter: brightness(1.5);
            }
          }
        }
      }
      .descrip-cont {
        .title {
          margin-bottom: 1em;
        }
        color: #bbb !important;
        background-color: $dark-bg;
        text-align: left;
        padding: 2em;
        border: solid #555 1px;
        .tech-ul {
          color: $green-color;
          padding: 0;
          list-style: none;
          li {
            display: inline;
            &::after {
              content: " | ";
            }
            &:last-child {
              &:after {
                content: "";
              }
            }
          }
        }
        .features {
          margin-top: 2em;
          color: #888;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .project {
    flex-direction: row !important;
    border-left: none !important;
    border-right: none !important;
    .img-links-cont,
    .descrip-cont {
      width: 50%;
    }

    .img-links-cont {
      .links {
        flex-direction: column !important;
        box-shadow: none !important;
      }
    }
  }
}

/* PANERA CONTAINER */

:root {
  --descripBgColor: rgb(236, 232, 210);
}

.panera-cont {
  display: flex;
  flex-direction: row;
  .col {
    display: flex;
    flex-direction: column;
    background-color: white;
    .head {
      background-color: rgb(87, 129, 67);
    }
  }
  .col-1 {
    flex: 1;
    .head-1 {
      color: white;
      padding: 1rem;
    }
    .panera-img-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 1rem;

      .panera-img {
        width: 50%;
        max-width: 200px;
      }
    }
  }
  .col-2 {
    background-color: var(--descripBgColor);
    flex: 2;
    .head-2 {
      color: white;
      filter: brightness(0.9);
      padding: 1rem;
    }
    .descrip {
      padding: 1rem;
      text-align: left;
    }
  }
}

/* GA CONTAINER */

.ga-cont {
  display: flex;
  flex-direction: row;
  background-color: white;
  .head {
    color: white;
    background-color: rgb(230, 30, 30);
    padding: 1rem;
  }
  .col-1 {
    background-color: #222;

    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .descrip {
    background-color: var(--descripBgColor);
    text-align: left;
  }
  .head-2 {
    filter: brightness(0.9);
  }
}

.ga-cont .ga-img-cont,
.descrip {
  padding: 1rem;
}

.ga-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  .ga-img {
    width: 50%;
    max-width: 225px;
  }
}

.ga-icon-cont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  .row {
    display: flex;
    font-display: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .ga-icon {
    width: 20%;
    max-width: 100px;
    padding: 0.9rem;
  }
}

/* CSULA CONTAINER */

.csula-cont {
  display: flex;
  flex-direction: row;
  .col {
    display: flex;
    flex-direction: column;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    flex: 2;
  }
  .head {
    background-color: gold;
    padding: 1rem;
  }
  .head-2 {
    filter: brightness(0.9);
  }
  .below-head {
    flex: 1;
  }
  .csula-img-cont {
    padding: 1rem;
    background-color: white;
  }
  .csula-img-cont img {
    width: 50%;
    max-width: 300px;
  }
  .descrip {
    padding: 2rem;
    line-height: 2rem;
    text-align: left;
    background-color: var(--descripBgColor);
  }
}

.final-project-link {
  border: solid black 1px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(235, 219, 199);
  display: inline-block;
  margin-top: 1rem;
}

/* OTHER: ..... */

table.links {
  margin: 0 auto;
}

footer {
  background: linear-gradient(
    0.25turn,
    rgb(179, 165, 192),
    rgb(113, 191, 215),
    rgb(66, 156, 66)
  );
  padding: 2rem 0;
  table,
  tr,
  td {
    border: solid black 1px;
  }
  td {
    padding: 10px;
  }
}

td.linkedin {
  background-color: rgb(248, 203, 105);
}

td.email {
  background-color: rgb(157, 96, 211);
}

.btn-email-me > a {
  text-decoration: none;
  color: black;
  font-family: "Architects Daughter", cursive;
}

.btn-email-me {
  box-shadow: inset 0px 39px 0px -24px #ffe368;
  background-color: #ffb700;
  border-radius: 4px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1rem;
  padding: 1rem 1rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin-top: 1rem;
  transform: translateY(-9px);
}
.btn-email-me:hover {
  background-color: #c79243;
}
.btn-email-me:active {
  position: relative;
  top: 1px;
}

.github-icon-cont {
  background-color: rgb(58, 115, 201);
  .github-icon {
    width: 50px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border: solid black 1px;
  }
}

img.linkedin {
  width: 50px;
  border: solid black 1px;
  border-radius: 8px;
  background-color: white;
}
img.flaticon {
  width: 75px;
  border-radius: 1rem;
  opacity: 0.9;
}

.thanks-flaticon {
  background-color: rgb(126, 215, 195);
}

.copyright-statement {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: black;
}

.text-align-left {
  text-align: left;
}

.font-time-period {
  color: black;
  font-size: 0.9rem;
}

.font-share-tech-mono {
  font-family: "Share Tech Mono", monospace;
}

.icon-javascript {
  border: solid black 3px;
}

@media (min-width: 992px) {
  .message-box {
    background: linear-gradient(
      0.25turn,
      transparent,
      rgba(255, 255, 255, 0.8),
      transparent
    );
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .csula-cont .descrip {
    line-height: 1.2rem;
  }
  .occupation {
    flex-direction: column !important;
    div {
      align-self: center;
      .space {
        display: none;
      }
    }
  }
}
