@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #bbbbbb;
  background-color: #111;
  width: 100%;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
}

.spacer {
  height: 50px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  background-color: black;
  border-bottom: solid #3eb33e 1px;
}
nav .content {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 10%;
}
nav .content .rn-icon {
  height: 100%;
}
nav .content .rn-icon:hover {
  filter: brightness(1.2);
}
nav .content ul {
  display: flex;
  height: 100%;
  list-style: none;
}
nav .content ul li {
  height: 100%;
}
nav .content ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1em;
  color: #eee;
  background-color: black;
  text-decoration: none;
}
nav .content ul li a:hover {
  background-color: #333;
}
nav .content ul li a > .new-window-icon {
  width: 15px;
  margin-left: 0.4em;
  filter: invert(1);
}
nav .list-icon {
  display: none;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 584px) {
  nav .content {
    display: none;
    margin: 0;
  }
  nav .content .rn-icon {
    display: none;
  }
  nav .content ul {
    flex-direction: column;
    width: 100%;
  }
  nav .list-icon {
    display: inline;
  }

  nav.display {
    height: auto;
  }
  nav.display .content {
    display: flex;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/nature-mountains.jpg");
  background-size: cover;
  background-position: bottom;
  height: 300px;
  color: white;
}
header .name-title-cont {
  width: 100%;
  background-color: black;
  background: linear-gradient(0.25turn, transparent, black, transparent);
  font-family: "Share Tech Mono", monospace;
  padding: 1em;
}
header .name-title-cont .name {
  font-size: 3em;
  margin: 1rem 0 0.2rem 0;
}
header .name-title-cont .title {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  color: #3eb33e;
  margin-bottom: 1rem;
}

/* PROJECTS */
.projects-section .heading-band {
  margin: 4rem 0;
}
.projects-section .projects {
  background-color: black;
}
.projects-section .projects .project {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-left: solid green 3px;
  border-right: solid green 3px;
  border-top: solid #3eb33e 1px;
  border-bottom: solid #3eb33e 1px;
  margin-bottom: 4rem;
}
.projects-section .projects .project .img-links-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
}
.projects-section .projects .project .img-links-cont img {
  max-width: 100%;
  margin: 0.4em;
  border: solid #555 3px;
  filter: brightness(0.8);
}
.projects-section .projects .project .img-links-cont .links {
  display: flex;
  z-index: 1;
  box-shadow: 0 10px 30px rgba(119, 224, 74, 0.214);
}
.projects-section .projects .project .img-links-cont .links a {
  flex: 1;
  color: white;
  background-color: #222;
  text-decoration: none;
  padding: 0.6em 0;
  border: solid #555 1px;
}
.projects-section .projects .project .img-links-cont .links a:hover {
  filter: brightness(1.5);
}
.projects-section .projects .project .descrip-cont {
  color: #bbb !important;
  background-color: #222;
  text-align: left;
  padding: 2em;
  border: solid #555 1px;
}
.projects-section .projects .project .descrip-cont .title {
  margin-bottom: 1em;
}
.projects-section .projects .project .descrip-cont .tech-ul {
  color: #3eb33e;
  padding: 0;
  list-style: none;
}
.projects-section .projects .project .descrip-cont .tech-ul li {
  display: inline;
}
.projects-section .projects .project .descrip-cont .tech-ul li::after {
  content: " | ";
}
.projects-section .projects .project .descrip-cont .tech-ul li:last-child:after {
  content: "";
}
.projects-section .projects .project .descrip-cont .features {
  margin-top: 2em;
  color: #888;
}

@media (min-width: 768px) {
  .project {
    flex-direction: row !important;
    border-left: none !important;
    border-right: none !important;
  }
  .project .img-links-cont,
.project .descrip-cont {
    width: 50%;
  }
  .project .img-links-cont .links {
    flex-direction: column !important;
    box-shadow: none !important;
  }
}
.about .heading-band {
  margin-bottom: 4rem;
}
.about .content {
  margin: 0 10% 4rem 10%;
}
.about .content .img-richard {
  width: 200px;
  position: relative;
  border-radius: 50%;
  border: solid black 3px;
  border: solid #3eb33e 2px;
  margin-bottom: 2em;
}
.about .content .about-me-list {
  list-style: none;
}
.about .content .about-me-list li {
  margin-bottom: 1em;
}
.about .ga-icon,
.about .coffee-icon {
  vertical-align: middle;
  max-width: 25px;
}
.about .ga-link {
  color: #bbbbbb;
  text-decoration: none;
}

.contact .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.contact .circle.outer-circle {
  margin: 13rem auto;
  width: 720px;
  height: 720px;
  border: solid rgba(0, 91, 0, 0.4) 1px;
}
.contact .circle.outer-circle:hover {
  border: solid rgba(0, 91, 0, 0.805) 1px;
}
.contact .circle.outer-circle .circle.mid-circle {
  width: 650px;
  height: 650px;
  border: solid rgba(0, 91, 0, 0.805) 1px;
}
.contact .circle.outer-circle .circle.mid-circle:hover {
  border: solid green 1px;
  background-color: #151814;
}
.contact .circle.outer-circle .circle.mid-circle:hover .inner-circle {
  background-color: #111;
}
.contact .circle.outer-circle .circle.mid-circle .circle.inner-circle {
  height: 600px;
  width: 600px;
  border: solid green 1px;
}
.contact .circle.outer-circle .circle.mid-circle .circle.inner-circle:hover {
  border: solid #3eb33e 1px;
  box-shadow: 0 0 10px rgba(175, 255, 15, 0.5);
}
.contact .contact-links {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.contact .contact-links .contact-link {
  font-size: 2rem;
  color: #bbbbbb;
  text-decoration: none;
  padding: 0.8em;
  background-color: #111;
  border-radius: 0.2em;
  margin: 1em 0;
}
.contact .contact-links .contact-link img.icon {
  background-color: #bbbbbb;
  vertical-align: bottom;
  width: 40px;
  border-radius: 0.2em;
}
.contact .contact-links .contact-link img.icon.github-icon {
  margin-right: 0.1em;
  border-radius: 50%;
}
.contact .contact-links .contact-link img.icon.linkedin-icon {
  margin-right: 0.2em;
}
.contact .contact-links .contact-link img.icon.email-icon {
  margin-right: 0.2em;
  vertical-align: middle;
  border: solid #bbbbbb 2px;
}
.contact .contact-links .contact-link.email-link {
  font-size: 1.7rem;
}
.contact .contact-links .contact-link.email-link .at-email-com {
  display: block;
  color: #bbbbbb;
  margin-left: 2rem;
  font-size: 1.2rem;
}
.contact .contact-links .contact-link:hover {
  color: #3eb33e;
  background-color: black;
  border: solid #3eb33e 1px;
  box-shadow: 0 0 10px rgba(175, 255, 15, 0.7);
}
.contact .contact-links .contact-link:hover .icon {
  background-color: #3eb33e;
}
.contact .contact-links .contact-link.email-link:hover .email-icon {
  border: solid #3eb33e 3px;
}
.contact .contact-links .contact-link.email-link:hover .at-email-com {
  color: #287128;
}
.contact .contact-links .contact-link:active {
  background-color: #091a0e;
}

@media (max-width: 759px) {
  .outer-circle {
    margin: 3rem auto !important;
    width: 374px !important;
    height: 374px !important;
  }

  .mid-circle {
    width: 330px !important;
    height: 330px !important;
  }

  .inner-circle {
    width: 300px !important;
    height: 300px !important;
  }

  .contact-links .icon {
    width: 25px !important;
  }
  .contact-links .contact-link {
    font-size: 1rem !important;
  }
  .contact-links .contact-link.email-link > .at-email-com {
    font-size: 0.7rem !important;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #bbbbbb;
  background-color: #222;
}

.heading-band {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  color: #eee;
  background-color: #222;
}

/*# sourceMappingURL=style.css.map */
