@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
body {
  text-align: center;
  width: 100%;
  background-color: #111;
  font-family: "Noto Sans", sans-serif;
}

header {
  background-image: url("../images/nature-mountains.jpg");
  background-size: cover;
  background-position: bottom;
}

.img-richard {
  width: 200px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  border: solid black 3px;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #222;
}
.header-links a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  color: white;
  background-color: #222;
  text-decoration: none;
}
.header-links a:hover {
  filter: brightness(1.5);
}

.spacer {
  height: 10px;
}

h1 {
  font-size: 5.5rem;
  position: relative;
  z-index: 1;
  font-family: "Architects Daughter", cursive;
}

.message-box {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
}
.message-box .occupation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
  font-size: 2rem;
}
.message-box .occupation div {
  display: flex;
}
.message-box .occupation div span:hover {
  color: white;
  background-color: black;
}

/* PROJECTS */
.projects-section .section-title {
  color: white;
  margin: 4rem 0;
}
.projects-section .projects {
  background-color: black;
}
.projects-section .projects .project {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  border-left: solid green 3px;
  border-right: solid green 3px;
  border-top: solid #3eb33e 1px;
  border-bottom: solid #3eb33e 1px;
  margin-bottom: 4em;
}
.projects-section .projects .project:last-child {
  margin-bottom: 9rem;
}
.projects-section .projects .project .img-links-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222;
}
.projects-section .projects .project .img-links-cont img {
  max-width: 100%;
  margin: 0.4em;
  border: solid #555 3px;
  filter: brightness(0.8);
}
.projects-section .projects .project .img-links-cont .links {
  display: flex;
  z-index: 1;
  box-shadow: 0 10px 30px rgba(119, 224, 74, 0.214);
}
.projects-section .projects .project .img-links-cont .links a {
  flex: 1;
  color: white;
  background-color: #222;
  text-decoration: none;
  padding: 0.6em 0;
  border: solid #555 1px;
}
.projects-section .projects .project .img-links-cont .links a:hover {
  filter: brightness(1.5);
}
.projects-section .projects .project .descrip-cont {
  color: #bbb !important;
  background-color: #222;
  text-align: left;
  padding: 2em;
  border: solid #555 1px;
}
.projects-section .projects .project .descrip-cont .title {
  margin-bottom: 1em;
}
.projects-section .projects .project .descrip-cont .tech-ul {
  color: #3eb33e;
  padding: 0;
  list-style: none;
}
.projects-section .projects .project .descrip-cont .tech-ul li {
  display: inline;
}
.projects-section .projects .project .descrip-cont .tech-ul li::after {
  content: " | ";
}
.projects-section .projects .project .descrip-cont .tech-ul li:last-child:after {
  content: "";
}
.projects-section .projects .project .descrip-cont .features {
  margin-top: 2em;
  color: #888;
}

@media (min-width: 768px) {
  .project {
    flex-direction: row !important;
    border-left: none !important;
    border-right: none !important;
  }
  .project .img-links-cont,
.project .descrip-cont {
    width: 50%;
  }
  .project .img-links-cont .links {
    flex-direction: column !important;
    box-shadow: none !important;
  }
}
/* PANERA CONTAINER */
:root {
  --descripBgColor: rgb(236, 232, 210);
}

.panera-cont {
  display: flex;
  flex-direction: row;
}
.panera-cont .col {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.panera-cont .col .head {
  background-color: #578143;
}
.panera-cont .col-1 {
  flex: 1;
}
.panera-cont .col-1 .head-1 {
  color: white;
  padding: 1rem;
}
.panera-cont .col-1 .panera-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
.panera-cont .col-1 .panera-img-cont .panera-img {
  width: 50%;
  max-width: 200px;
}
.panera-cont .col-2 {
  background-color: var(--descripBgColor);
  flex: 2;
}
.panera-cont .col-2 .head-2 {
  color: white;
  filter: brightness(0.9);
  padding: 1rem;
}
.panera-cont .col-2 .descrip {
  padding: 1rem;
  text-align: left;
}

/* GA CONTAINER */
.ga-cont {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.ga-cont .head {
  color: white;
  background-color: #e61e1e;
  padding: 1rem;
}
.ga-cont .col-1 {
  background-color: #222;
  flex: 1;
}
.ga-cont .col-2 {
  flex: 2;
}
.ga-cont .descrip {
  background-color: var(--descripBgColor);
  text-align: left;
}
.ga-cont .head-2 {
  filter: brightness(0.9);
}

.ga-cont .ga-img-cont,
.descrip {
  padding: 1rem;
}

.ga-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.ga-img-cont .ga-img {
  width: 50%;
  max-width: 225px;
}

.ga-icon-cont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
}
.ga-icon-cont .row {
  display: flex;
  font-display: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ga-icon-cont .ga-icon {
  width: 20%;
  max-width: 100px;
  padding: 0.9rem;
}

/* CSULA CONTAINER */
.csula-cont {
  display: flex;
  flex-direction: row;
}
.csula-cont .col {
  display: flex;
  flex-direction: column;
}
.csula-cont .col-1 {
  flex: 1;
}
.csula-cont .col-2 {
  flex: 2;
}
.csula-cont .head {
  background-color: gold;
  padding: 1rem;
}
.csula-cont .head-2 {
  filter: brightness(0.9);
}
.csula-cont .below-head {
  flex: 1;
}
.csula-cont .csula-img-cont {
  padding: 1rem;
  background-color: white;
}
.csula-cont .csula-img-cont img {
  width: 50%;
  max-width: 300px;
}
.csula-cont .descrip {
  padding: 2rem;
  line-height: 2rem;
  text-align: left;
  background-color: var(--descripBgColor);
}

.final-project-link {
  border: solid black 1px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ebdbc7;
  display: inline-block;
  margin-top: 1rem;
}

/* OTHER: ..... */
table.links {
  margin: 0 auto;
}

footer {
  background: linear-gradient(0.25turn, #b3a5c0, #71bfd7, #429c42);
  padding: 2rem 0;
}
footer table,
footer tr,
footer td {
  border: solid black 1px;
}
footer td {
  padding: 10px;
}

td.linkedin {
  background-color: #f8cb69;
}

td.email {
  background-color: #9d60d3;
}

.btn-email-me > a {
  text-decoration: none;
  color: black;
  font-family: "Architects Daughter", cursive;
}

.btn-email-me {
  box-shadow: inset 0px 39px 0px -24px #ffe368;
  background-color: #ffb700;
  border-radius: 4px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1rem;
  padding: 1rem 1rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin-top: 1rem;
  transform: translateY(-9px);
}

.btn-email-me:hover {
  background-color: #c79243;
}

.btn-email-me:active {
  position: relative;
  top: 1px;
}

.github-icon-cont {
  background-color: #3a73c9;
}
.github-icon-cont .github-icon {
  width: 50px;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  border: solid black 1px;
}

img.linkedin {
  width: 50px;
  border: solid black 1px;
  border-radius: 8px;
  background-color: white;
}

img.flaticon {
  width: 75px;
  border-radius: 1rem;
  opacity: 0.9;
}

.thanks-flaticon {
  background-color: #7ed7c3;
}

.copyright-statement {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: black;
}

.text-align-left {
  text-align: left;
}

.font-time-period {
  color: black;
  font-size: 0.9rem;
}

.font-share-tech-mono {
  font-family: "Share Tech Mono", monospace;
}

.icon-javascript {
  border: solid black 3px;
}

@media (min-width: 992px) {
  .message-box {
    background: linear-gradient(0.25turn, transparent, rgba(255, 255, 255, 0.8), transparent);
  }
}
@media (max-width: 720px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .csula-cont .descrip {
    line-height: 1.2rem;
  }

  .occupation {
    flex-direction: column !important;
  }
  .occupation div {
    align-self: center;
  }
  .occupation div .space {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
