* {
  margin: 0;
}

.css {
  width: 25px;
  height: 25px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  border: solid black 2px;
  z-index: -1;
}

body {
  text-align: center;
  width: 100%;
  background-color: black;
  /* background-image: url("../images/contruction.jpg"); */
  font-family: "Roboto", sans-serif;
}

.poster {
  width: 100%;
  height: 550px;
  background-image: url("https://user-images.githubusercontent.com/77288642/145336865-abc467ee-b3b5-4c42-a4f5-ea96be159b41.png");
  background-position: center;
  text-align: center;
}

.from-top-gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 550px;
  background: linear-gradient(#ff9c76, transparent);
}

.img-richard {
  width: 200px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
  border: solid black 3px;
  margin: 3rem 0 2rem 0;
}
.img-richard:hover {
  width: 205px;
  transform: translateY(-2.5px);
}
.img-richard:hover ~ .spacer {
  height: 5px;
}

.spacer {
  height: 10px;
}

h1 {
  font-size: 5.5rem;
  position: relative;
  z-index: 1;
  font-family: "Architects Daughter", cursive;
}

.message-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  border: solid black 5px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.message-box .occupations {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.message-box .occupations .programmer {
  font-family: monospace;
}
.message-box .occupations .animator {
  font-family: "Fuzzy Bubbles", curisve;
}
.message-box .occupations .explorer {
  font-family: "Baloo Bhaijaan 2", cursive;
}

/* PANERA CONTAINER */
:root {
  --descripBgColor: rgb(236, 232, 210);
}

.panera-cont {
  display: flex;
  flex-direction: row;
}
.panera-cont .col {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.panera-cont .col .head {
  background-color: #578143;
}
.panera-cont .col-1 {
  flex: 1;
}
.panera-cont .col-1 .head-1 {
  color: white;
  padding: 1rem;
}
.panera-cont .col-1 .panera-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}
.panera-cont .col-1 .panera-img-cont .panera-img {
  width: 50%;
  max-width: 200px;
}
.panera-cont .col-2 {
  background-color: var(--descripBgColor);
  flex: 2;
}
.panera-cont .col-2 .head-2 {
  color: white;
  filter: brightness(0.9);
  padding: 1rem;
}
.panera-cont .col-2 .descrip {
  padding: 1rem;
  text-align: left;
}

/* GA CONTAINER */
.ga-cont {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.ga-cont .head {
  color: white;
  background-color: #e61e1e;
  padding: 1rem;
}
.ga-cont .col-1 {
  background-color: #222;
  flex: 1;
}
.ga-cont .col-2 {
  flex: 2;
}
.ga-cont .descrip {
  background-color: var(--descripBgColor);
  text-align: left;
}
.ga-cont .head-2 {
  filter: brightness(0.9);
}

.ga-cont .ga-img-cont,
.descrip {
  padding: 1rem;
}

.ga-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.ga-img-cont .ga-img {
  width: 50%;
  max-width: 225px;
}

.ga-icon-cont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  max-width: 600px;
}
.ga-icon-cont .row {
  display: flex;
  font-display: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ga-icon-cont .ga-icon {
  width: 20%;
  max-width: 100px;
  padding: 0.9rem;
}

/* CSULA CONTAINER */
.csula-cont {
  display: flex;
  flex-direction: row;
}

.csula-cont > .col {
  display: flex;
  flex-direction: column;
}

.csula-cont > .col-1 {
  flex: 1;
}

.csula-cont > .col-2 {
  flex: 2;
}

.csula-cont .head {
  background-color: gold;
  padding: 1rem;
}

.csula-cont .head-2 {
  filter: brightness(0.9);
}

.csula-cont .below-head {
  flex: 1;
}

.csula-cont .csula-img-cont {
  padding: 1rem;
  background-color: white;
}

.csula-cont .csula-img-cont img {
  width: 50%;
  max-width: 300px;
}

.csula-cont .descrip {
  padding: 2rem;
  line-height: 2rem;
  text-align: left;
  background-color: var(--descripBgColor);
}

.final-project-link {
  border: solid black 1px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ebdbc7;
  display: inline-block;
  margin-top: 1rem;
}

/* OTHER: ..... */
table.links {
  margin: 0 auto;
}

footer {
  background: linear-gradient(0.25turn, #b3a5c0, #71bfd7, #429c42);
  padding: 2rem 0;
}
footer table,
footer tr,
footer td {
  border: solid black 1px;
}
footer td {
  padding: 10px;
}

td.linkedin {
  background-color: #f8cb69;
}

td.email {
  background-color: #9d60d3;
}

.btn-email-me > a {
  text-decoration: none;
  color: black;
  font-family: "Architects Daughter", cursive;
}

.btn-email-me {
  box-shadow: inset 0px 39px 0px -24px #ffe368;
  background-color: #ffb700;
  border-radius: 4px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1rem;
  padding: 1rem 1rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  margin-top: 1rem;
  transform: translateY(-9px);
}

.btn-email-me:hover {
  background-color: #c79243;
}

.btn-email-me:active {
  position: relative;
  top: 1px;
}

img.linkedin {
  width: 50px;
  border: solid black 1px;
  border-radius: 8px;
  background-color: white;
}

img.flaticon {
  width: 75px;
  border-radius: 1rem;
  opacity: 0.9;
}

.thanks-flaticon {
  background-color: #7ed7c3;
}

.copyright-statement {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-family: sans-serif;
  color: black;
}

.text-align-left {
  text-align: left;
}

.font-time-period {
  color: black;
  font-size: 0.9rem;
}

.icon-javascript {
  border: solid black 3px;
}

@media (max-width: 720px) {
  h1 {
    font-size: 3rem;
  }

  .occupations {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .csula-cont .descrip {
    line-height: 1.2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
